<!-- <div ng-show="vm.loading" class="text-center">
  <loader></loader>
</div>
<div class="card" st-table="vm.displayedReferrals" st-safe-src="vm.referrals" ng-if="!vm.loading">
  <div class="card-header ch-alt m-b-20">
    <h2>
      Referências
      <small>Listagem de Referências</small>
    </h2>
  </div> -->
  <div class="table-responsive" st-table="vm.displayedReferrals" st-safe-src="vm.referrals">
    <table class="table table-striped table-vmiddle">
      <thead>
        <tr>
            <th>Nome</th>
            <th>Referenciador</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Situação</th>
            <th>Ações</th>
        </tr>
        <tr ng-show="search" class="slide-up-animate client-search">
          <th colspan="5" class="p-l-5 p-r-20">
            <div class="input-group w-100">
              <span class="input-group-addon">
                <i class="zmdi zmdi-search"></i>
              </span>
              <div class="fg-line">
                <input type="text" st-search="" class="form-control" placeholder="Buscar">
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="vm.displayedReferrals.length" ng-repeat="referral in vm.displayedReferrals">
            <td><a ui-sref="app.referrals.view({id: referral.id})">{{ referral.name }}</a></td>
            <td><a ui-sref="app.clients.view({id: referral.referrer.id})">{{ referral.referrer.name }}</a></td>
            <td>{{ referral.phone | brPhoneNumber }}</td>
            <td>
              {{ referral.address }}<span ng-if="referral.city">, {{ referral.city }}</span>
              <span ng-if="referral.state"> - {{ referral.state }}</span>
            </td>
            <td>
              <client-status status="referral.status"></client-status>
            </td>
            <td>
              <button class="btn btn-sm btn-primary" ui-sref="app.clients.edit({id: referral.id})">
                <i class="zmdi zmdi-edit"></i>
              </button>
              <button class="btn btn-sm btn-default" api-url="/clients/{{ referral.id }}"
                api-delete="referral"
                on-success="vm.removed">
                <i class="zmdi zmdi-delete"></i>
              </button>
            </td>
        </tr>
        <tr ng-hide="vm.displayedReferrals.length">
          <td colspan="6">Nenhuma referência cadastrada</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
<!-- </div> -->