<div ng-show="vm.loading" class="text-center">
  <loader></loader>
</div>
<div class="card" st-table="vm.displayedReferrals" st-safe-src="vm.referrals" ng-if="!vm.loading">
  <div class="card-header ch-alt m-b-20">
    <h2>
      Referências
      <small>Listagem de Referências</small>
    </h2>

    <button ui-sref="app.referrals.new" class="btn btn-primary btn-float waves-effect">
      <i class="zmdi zmdi-plus"></i>
    </button>
  </div>
  <referrals-list referrals="vm.referrals"></referrals-list>
</div>