<div class="card">
  <div class="card-header ch-alt">
    <h2>Formulário de Usuário
      <small>Formulário de cadastro de usuários</small>
    </h2>
  </div>

  <form name="form">
    <div class="card-body card-padding">
      <!-- Nome -->
      <div class="form-group fg-float m-b-30" ng-class="{'has-error': form.name.$invalid && (form.name.$dirty || vm.submitted)}">
        <div class="fg-line" ng-class="{'fg-toggled': vm.user.name}">
          <label class="fg-label" translate="users.name">Nome</label>
          <input type="text" name="name" id="name" class="form-control" ng-model="vm.user.name"
            ng-required="true">
        </div>
        <ng-messages for="form.name.$error" ng-show="form.name.$dirty || vm.submitted">
          <ng-message when="required">
            <span class="help-block" translate="validation.required"
              translate-value-field="{{ 'users.name' | translate }}"></span>
          </ng-message>
        </ng-messages>
      </div>


      <div class="form-group fg-float m-b-30" ng-class="{'has-error': form.email.$invalid && (form.email.$dirty || vm.submitted)}">

        <div class="fg-line" ng-class="{'fg-toggled': vm.user.name}">
          <label for="email" class="fg-label" translate="users.email">Email</label>
          <input type="email" name="email" id="email" class="form-control" ng-model="vm.user.email"
            ng-required="true">
        </div>
        <ng-messages for="form.email.$error" ng-show="form.email.$dirty || vm.submitted">
          <ng-message when="required">
            <span class="help-block" translate="validation.required"
              translate-value-field="{{ 'users.email' | translate }}"></span>
          </ng-message>
          <ng-message when="email">
            <span class="help-block" translate="validation.invalid_email"></span>
          </ng-message>
        </ng-messages>
      </div>


      <div class="form-group fg-float m-b-30" ng-class="{'has-error': form.password.$invalid && (form.password.$dirty || vm.submitted)}">
        <div class="fg-line" ng-class="{'fg-toggled': vm.user.password}">
          <label for="password" class="fg-label" translate="users.password">password</label>
          <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password"
            ng-required="!vm.user.id">
        </div>
        <ng-messages for="form.password.$error" ng-show="form.password.$dirty || vm.submitted">
          <ng-message when="required">
            <span class="help-block" translate="validation.required"
              translate-value-field="{{ 'users.password' | translate }}"></span>
          </ng-message>
        </ng-messages>
      </div>

      <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="vm.submit(form)">Salvar</button>
      <button class="btn btn-link" type="button" ng-click="vm.back()">Cancelar</button>
    </div>
  </form>
</div>
