<div ng-show="vm.loading" class="text-center">
  <loader></loader>
</div>
<div class="card" st-table="vm.displayedUsers" st-safe-src="vm.users" ng-if="!vm.loading">
  <div class="card-header ch-alt m-b-20">
    <h2>
      <span translate="users.title">Usuários</span>
      <small>Listagem de usuários</small>
    </h2>
    <ul class="actions">
      <li>
        <a href="" ng-click="search = !search">
          <i class="zmdi zmdi-search"></i>
        </a>
      </li>
      <li>
        <a href="" ng-click="vm.getUsers()">
          <i class="zmdi zmdi-refresh-alt"></i>
        </a>
      </li>
    </ul>
    <button ui-sref="app.users.new" class="btn btn-primary btn-float waves-effect">
      <i class="zmdi zmdi-plus"></i>
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-vmiddle">
      <thead>
        <tr>
            <th width="10%">#</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th width="15%">Ações</th>
        </tr>
        <tr ng-show="search" class="slide-up-animate client-search">
          <th colspan="5" class="p-l-5 p-r-20">
            <div class="input-group w-100">
              <span class="input-group-addon">
                <i class="zmdi zmdi-search"></i>
              </span>
              <div class="fg-line">
                <input type="text" st-search="" class="form-control" placeholder="Buscar">
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="vm.displayedUsers.length" ng-repeat="user in vm.displayedUsers">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button class="btn btn-sm btn-primary" ui-sref="app.users.edit({id: user.id})">
                <i class="zmdi zmdi-edit"></i>
              </button>
              <button uib-tooltip="{{ 'action.delete' | translate }}" class="btn btn-sm btn-default"
                ng-click="vm.destroy(user)"
                confirm="{{ 'users.confirm_deletion' | translate }}"
                confirm-ok="{{ 'button.ok' | translate }}"
                confirm-cancel="{{ 'button.cancel' | translate }}"
                confirm-title="{{ 'title.confirmation' | translate }}">
                <i class="zmdi zmdi-delete"></i>
              </button>
            </td>
        </tr>
        <tr ng-hide="vm.displayedUsers.length">
          <td colspan="4">Nenhum cliente cadastrado</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
