<div class="page-loader" style="">
    <div class="preloader pls-blue">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20"></circle>
        </svg>

        <p translate="page-loader.loading">Carregando...</p>
    </div>
</div>