<div ng-show="vm.loading" class="text-center">
  <loader></loader>
</div>
<div class="card" st-table="vm.displayedClients" st-safe-src="vm.clients" ng-if="!vm.loading">
  <div class="card-header ch-alt m-b-20">
    <h2>
      Clientes
      <small>Listagem de clientes</small>
    </h2>
    <ul class="actions">
      <li>
        <a href="" ng-click="search = !search">
          <i class="zmdi zmdi-search"></i>
        </a>
      </li>
      <li>
        <a href="" ng-click="vm.getClients()">
          <i class="zmdi zmdi-refresh-alt"></i>
        </a>
      </li>
    </ul>
    <button ui-sref="app.clients.new" class="btn btn-primary btn-float waves-effect">
      <i class="zmdi zmdi-plus"></i>
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-vmiddle">
      <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
        <tr ng-show="search" class="slide-up-animate client-search">
          <th colspan="5" class="p-l-5 p-r-20">
            <div class="input-group w-100">
              <span class="input-group-addon">
                <i class="zmdi zmdi-search"></i>
              </span>
              <div class="fg-line">
                <input type="text" st-search="" class="form-control" placeholder="Buscar">
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="vm.displayedClients.length" ng-repeat="client in vm.displayedClients">
            <td>{{ client.id }}</td>
            <td><a ui-sref="app.clients.view({id: client.id})">{{ client.name }}</a></td>
            <td>{{ client.phone | brPhoneNumber }}</td>
            <td>
              {{ client.address }}<span ng-if="client.city">, {{ client.city }}</span>
              <span ng-if="client.state"> - {{ client.state }}</span>
            </td>
            <td>
              <button class="btn btn-sm btn-primary" ui-sref="app.clients.edit({id: client.id})">
                <i class="zmdi zmdi-edit"></i>
              </button>
              <button class="btn btn-sm btn-default" api-url="/clients/{{ client.id }}"
                api-delete="client"
                on-success="vm.removed">
                <i class="zmdi zmdi-delete"></i>
              </button>
            </td>
        </tr>
        <tr ng-hide="vm.displayedClients.length">
          <td colspan="5">Nenhum cliente cadastrado</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
