<div class="card">
  <div class="card-header ch-alt">
    <h2>Pedido nº {{ $ctrl.order.number }}</h2>
    <button ui-sref="app.orders.edit({id: $ctrl.order.id})" class="btn btn-primary btn-float waves-effect">
      <i class="zmdi zmdi-edit"></i>
    </button>
  </div>
  <div class="card-body card-padding">
    <ul>
      <li ng-repeat="product in $ctrl.order.products">{{ product.name }}</li>
    </ul>
  </div>