<table class="table i-table">
    <thead class="text-uppercase">
    <th class="c-gray">Descrição do Item</th>
    <th class="c-gray">Data da Compra</th>
    <th class="highlight" style="width: 20%">Valor da Venda</th>
    </thead>

    <tbody>
    <tr ng-repeat="order in vm.orders">
        <td width="50%">
            <a ui-sref="app.orders.view({id: order.id})" class="text-uppercase f-400">
                <span ng-repeat="product in order.products">{{ product.name }} </span> - #{{order.number}}
            </a>
            <p class="text-muted">
                <span ng-repeat="product in order.products">
                    {{ product.name }} +
                </span>
            </p>
        </td>
        <td>{{ order.created_at | date : 'dd/MM/yyyy' }}</td>
        <td class="highlight">{{ order.price | currency: "R$ " }}</td>
    </tr>
    <tr>
        <td colspan="2"><span class="text-uppercase f-500">Total</span></td>
        <td class="highlight c-green">{{ vm.total | currency: "R$ " }}</td>
    </tr>
    </tbody>
</table>