<div ng-include="'theme/views/header.html'"></div>
<section id="main">
  <div ng-include="'app/views/sidebar.html'"></div>
  <section id="content" class="page-view">
    <div class="container fade-in" ui-view="content">
    </div>
  </section>
</section>
