// App sass
body {
  background-color: #efefef
}

// Variables
$transition_time: .3s;
$transition_function: ease-out;

/* ANIMATIONS */
.animate {
  -webkit-transition: all $transition_time $transition_function;
     -moz-transition: all $transition_time $transition_function;
      -ms-transition: all $transition_time $transition_function;
       -o-transition: all $transition_time $transition_function;
          transition: all $transition_time $transition_function;
}
.animate.ng-hide {
  -webkit-transition: all $transition_time $transition_function;
     -moz-transition: all $transition_time $transition_function;
      -ms-transition: all $transition_time $transition_function;
       -o-transition: all $transition_time $transition_function;
          transition: all $transition_time $transition_function;
}

// Slide animation
.slide-up-animate {
  @extend .animate;
}
.slide-up-animate.ng-hide {
  opacity: 0;
  -webkit-transform: translateY(-30%);
     -moz-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
       -o-transform: translateY(-30%);
          transform: translateY(-30%);
}

// Show animation
.show-animate {
  @extend .animate;
}
.show-animate.ng-hide {
  opacity: 0;
}

.ng-enter, .ng-enter-active {
  -webkit-transition: all $transition_time $transition_function;
     -moz-transition: all $transition_time $transition_function;
      -ms-transition: all $transition_time $transition_function;
       -o-transition: all $transition_time $transition_function;
          transition: all $transition_time $transition_function;
}
.fade-in.ng-enter {
  opacity: 0;
}
.fade-in.ng-enter-active {
  opacity: 1;
}

.cursor-pointer {
  cursor: pointer;
}
