<div class="card">
  <div class="card-header ch-alt">
    <h2>Formulário de Cliente
      <small>Formulário de cadastro de clientes</small>
    </h2>
  </div>

  <form name="form">
    <div class="card-body card-padding">
      <!-- Nome -->
      <div class="form-group fg-float m-b-30">
        <div class="fg-line" ng-class="{'fg-toggled': vm.client.name}">
          <input type="text" class="form-control input-sm"
            ng-model="vm.client.name" ng-required="true">
          <label class="fg-label">Nome</label>
        </div>
      </div>

      <!-- E-mail -->
      <div class="form-group fg-float m-b-30">
        <div class="fg-line" ng-class="{'fg-toggled': vm.client.email}">
          <input type="email" class="form-control input-sm"
            ng-model="vm.client.email">
          <label class="fg-label">Email address</label>
        </div>
      </div>

      <!-- Telefone -->
      <div class="form-group fg-float m-b-30">
        <div class="fg-line" ng-class="{'fg-toggled': vm.client.phone}">
          <input type="text" class="form-control input-sm" ui-br-phone-number
            ng-model="vm.client.phone">
          <label class="fg-label">Telefone</label>
        </div>
      </div>

      <p class="f-11 c-gray m-b-5">Endereço Completo</p>
      <div class="row">
        <div class="col-md-3">
          <!-- Bairro -->
          <select chosen data-placeholder="Cidade" ng-model="vm.client.city">
            <option value=""></option>
            <option ng-repeat="city in vm.cities" ng-value="city">{{ city }}</option>
          </select>
          <!-- <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
          </div> -->
        </div>
        <div class="col-md-3">
          <!-- UF -->
          <select chosen data-placeholder="UF" ng-model="vm.client.state">
            <option value=""></option>
            <option ng-repeat="state in vm.states">{{ state }}</option>
          </select>
        </div>
        <div class="col-md-6">
          <!-- Endereço -->
          <div class="fg-line">
            <input type="text" name="address" ng-model="vm.client.address" class="form-control" placeholder="Endereço">
          </div>
        </div>
      </div>
      <br>

      <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="vm.save(vm.client)">Salvar</button>
      <button class="btn btn-link" type="button" ng-click="vm.back()">Cancelar</button>
    </div>
  </form>
</div>
