<div class="card">
  <div class="card-header">
    <h3 class="m-0">
      <i class="zmdi zmdi-account-box c-gray"></i> Fulano da Silva
      <small>
        <div class="dropdown" style="display: inline-flex;">
          <a href="" class="dropdown-toggle waves-effect c-gray" data-toggle="dropdown" aria-expanded="false">amigo</a>
          <ul class="dropdown-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">irmão(ã)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">pai</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">mãe</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">tio(a)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">avô(ó)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">primo(a)</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">outro</a></li>
          </ul>
        </div>
        de <a href="" class="c-gray">Siclano</a>
      </small>
    </h3>
  </div>
  <div class="card-body card-padding">
    <div class="row">
      <div class="col-md-4 m-b-15">
        <p class="c-gray m-b-10"><i class="zmdi zmdi-format-subject c-gray"></i> Descrição</p>
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
      <div class="col-md-2 m-b-15">
        <p class="c-gray m-b-10"><i class="zmdi zmdi-pin c-gray"></i> Endereço</p>
        QE 40 Rua 10 Lote 1 apt 302
      </div>
      <div class="col-md-2 m-b-15">
        <p class="c-gray m-b-10">Bairro</p>
        Guará II
      </div>
      <div class="col-md-2 m-b-15">
        <p class="c-gray m-b-10"><i class="zmdi zmdi-phone c-gray"></i> Telefone</p>
        98888-8888
      </div>
      <div class="col-md-2 m-b-15">
        <p class="c-gray m-b-10"><i class="zmdi zmdi-flag c-gray"></i> Status</p>
        Em contato <i class="zmdi zmdi-phone-in-talk c-gray"></i>
      </div>

      <div class="col-md-12">
        <p class="c-gray m-b-5"><i class="zmdi zmdi-accounts c-gray"></i> Referências</p>
        <ul class="clist clist-angle m-b-0">
           <li><a href="">José Ricardo Souza</a> - primo(a) <i class="zmdi zmdi-phone-end"></i></li>
           <li><a href="">Antonio Silva </a> - pai <i class="zmdi zmdi-phone-in-talk c-green"></i></li>
           <li><a href="">Gabriela Rodrigues </a> - amigo(a) <i class="zmdi zmdi-thumb-down c-red"></i></li>
           <li><a href="">Rafael Santos - amigo(a) </a> - tio <i class="zmdi zmdi-phone-end"></i></li>
         </ul> 
      </div>

    </div>
  </div>


</div>

<div class="block-header">
    <h2>Atividades
        <!-- <small>Comentários sobre as etapas de contato com a referência.</small> -->
    </h2>
</div>

<div class="row wall">
  <div class="col-md-12">

    <div class="card w-post">
      <div class="card-body">
        <textarea ng-show="show" class="wp-text msd-elastic" ng-model="test" placeholder="Comente sobre o contato ou a visita..." style="overflow: hidden; word-wrap: break-word; height: 76px;"></textarea>

        <div class="wp-actions clearfix">
          <div class="wpa-media-list pull-left">
            <a style="padding: 0px 6px;" ng-click="show = true" uib-tooltip="Não contatada" tooltip-popup-delay="1000" href="" class="btn btn-link c-gray">
              <i class="zmdi zmdi-phone-end"></i>
            </a>
            <a style="padding: 0px 6px;" ng-click="show = true" uib-tooltip="Em contato" tooltip-popup-delay="1000" href="" class="btn btn-link c-gray">
              <i class="zmdi zmdi-phone-in-talk"></i>
            </a>
            <a style="padding: 0px 6px; border: 1px solid #ccc" ng-click="show = true" uib-tooltip="Agendada" tooltip-popup-delay="1000" href="" class="btn btn-link c-green">
              <i class="zmdi zmdi-calendar"></i>
            </a>
            <a style="padding: 0px 6px;" ng-click="show = true" uib-tooltip="Desmarcada" tooltip-popup-delay="1000" href="" class="btn btn-link c-gray">
              <i class="zmdi zmdi-calendar-close"></i>
            </a>
            <a style="padding: 0px 6px;" ng-click="show = true" uib-tooltip="Visitada" tooltip-popup-delay="1000" href="" class="btn btn-link c-gray">
              <i class="zmdi zmdi-calendar-check"></i>
            </a>
            <a style="padding: 0px 6px;" ng-click="show = true" uib-tooltip="Sem interesse" tooltip-popup-delay="1000" href="" class="btn btn-link c-gray">
              <i class="zmdi zmdi-thumb-down"></i>
            </a>
            <span ng-show="show" class="text-muted">Alterando status para "não contatado"</span>
            <span ng-hide="show" class="text-muted">Selecione um status para comentar</span>
          </div>

          <span ng-show="show">
            <button class="btn btn-primary pull-right waves-effect">Comentar</button>
            <button ng-click="show = false" class="btn btn-link pull-right waves-effect">Cancelar</button>
          </span>
        </div>
      </div>
    </div>


    <div class="media m-b-30">
        <div class="pull-left">
            <img class="avatar-img" src="img/profile-pics/5.jpg" alt="">
        </div>

        <div class="media-body">
            <a href="" class="lgi-heading">
              David Nathan
              <small class="c-gray">alterou status para "Agendada" em 30 Ago 2015 às 20:10 com o seguinte comentário:</small>
            </a>
            <small class="lgi-text">
              <p class="m-0">Visita marcada para segunda dia 2 de setembro às 20h.</p>
            </small>
        </div>
    </div>


    <div class="media m-b-30">
        <div class="pull-left">
            <img class="avatar-img" src="img/profile-pics/5.jpg" alt="">
        </div>

        <div class="media-body">
            <a href="" class="lgi-heading">
              David Nathan
              <small class="c-gray">manteve status "Em contato" em 30 Ago 2015 às 03:10 com o seguinte comentário:</small>
            </a>
            <small class="lgi-text">
              <p class="m-0">Ainda não tinha uma resposta. Pediu para ligar novamente às 20h.</p>
            </small>
        </div>
    </div>


    <div class="media m-b-30">
        <div class="pull-left">
            <img class="avatar-img" src="img/profile-pics/5.jpg" alt="">
        </div>

        <div class="media-body">
            <a href="" class="lgi-heading">
              David Nathan
              <small class="c-gray">alterou status para "Em contato" em 29 Ago 2015 às 02:10 com o seguinte comentário:</small>
            </a>
            <small class="lgi-text">
              <p class="m-0">Ficou de ver com a esposa. Vou retornar amanhã as 16h.</p>
            </small>
        </div>
    </div>


  </div>
</div>