<div class="card">
  <div class="card-header ch-alt">
    <h2>{{ vm.client.name }}
      <small>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit
        libero
      </small>
    </h2>
    <button ui-sref="app.clients.edit({id: vm.client.id})" class="btn btn-primary btn-float waves-effect">
      <i class="zmdi zmdi-edit"></i>
    </button>
  </div>
  <div class="card-body">

    <ul class="tab-nav tn-justified" role="tablist">
      <li role="presentation" class="active">
        <a class="col-xs-3 cursor-pointer" aria-controls="info" role="tab"
          tab-toggle="info">
          <i class="zmdi zmdi-person"></i> &nbsp; Informações
        </a>
      </li>
      <li role="presentation">
        <a class="col-xs-3 cursor-pointer" aria-controls="sales" role="tab"
          tab-toggle="sales">
          <i class="zmdi zmdi-money"></i> &nbsp; Compras
        </a>
      </li>
      <li role="presentation">
        <a class="col-xs-3 cursor-pointer" aria-controls="history" role="tab"
          tab-toggle="history">
          <i class="zmdi zmdi-time"></i> &nbsp; Histórico
        </a>
      </li>
      <li role="presentation">
        <a class="col-xs-3 cursor-pointer" aria-controls="referrals" role="tab"
          tab-toggle="referrals">
          <i class="zmdi zmdi-accounts-list"></i> &nbsp; Referências
        </a>
      </li>
    </ul>

    <div class="tab-content p-20">
      <div role="tabpanel" class="tab-pane animated fadeIn in active" id="info">
        <div class="pmo-contact p-l-10">
          <ul>
            <li ng-if="vm.client.phone" class="ng-binding"><i class="zmdi zmdi-phone"></i> <span>{{ vm.client.phone | brPhoneNumber }}</span></li>
            <li ng-if="vm.client.email" class="ng-binding"><i class="zmdi zmdi-email"></i> <span>{{ vm.client.email }}</span></li>
            <li ng-if="vm.client.address">
              <i class="zmdi zmdi-pin"></i>
              <address class="m-b-0 ng-binding">
                {{ vm.client.address }}
                <span ng-if="vm.client.city"><br>{{ vm.client.city }}</span>
                <span ng-if="vm.client.state">- {{ vm.client.state }}</span>
              </address>
            </li>
            <li>
              <i class="zmdi zmdi-accounts-list"></i>
              <span>Criado por:</span>
              <span>{{ vm.client.user.name }}</span><br>
              <span>Referência de: <a ui-sref="app.clients.view({id: vm.client.referrer.id})">{{ vm.client.referrer.name }}</a></span>
            </li>
          </ul>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane animated fadeIn" id="sales">
        <orders-table orders="vm.client.orders"></orders-table>
      </div>

      <div role="tabpanel" class="tab-pane animated fadeIn" id="history">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet dapibus
        tellus. Nullam aliquet dignissim semper. Cras sit amet ligula congue, dapibus
        enim id, dapibus tellus.
      </div>

      <div role="tabpanel" class="tab-pane animated fadeIn" id="referrals">
        <referrals-list referrals="vm.client.referrals"></referrals-list>
      </div>
    </div>
  </div>
</div>
