<div class="container container-alt">
  <div class="text-center">
      <h2 class="f-400">ESSA É UMA PÁGINA EM BRANCO</h2>
      <p class="c-gray m-t-20 m-b-20">Cras pretium elementum lacus ac auctor. Sed id mi nec ex placerat iaculis. Suspendisse volutpat purus ac metus venenatis rutrum. Morbi sit amet dui in nisi lacinia varius. Aliquam vehicula molestie sagittis. Cras a lectus nulla. Nulla accumsan volutpat nibh at tristique. Aenean varius massa a euismod posuere. Sed at ante imperdiet, fermentum purus at, aliquam nulla. Mauris blandit elit ac ipsum fermentum, vitae consequat velit vestibulum. Vivamus convallis fermentum nunc et varius.</p>
  </div>
</div>
