<aside id="sidebar" class="sidebar c-overflow">
    <div class="s-profile">
        <a href="" ma-menu-toggle>
            <div class="sp-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="sp-info">
                {{ app.storage.current_user.name }}

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="profile-about.html"><i class="zmdi zmdi-account-circle"></i> Perfil</a>
            </li>
            <li>
                <a ui-sref="app.home"><i class="zmdi zmdi-settings"></i> Configurações</a>
            </li>
            <li>
                <a ui-sref="app.auth.logout"><i class="zmdi zmdi-time-restore"></i> Sair</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li ui-sref-active="active">
            <a ui-sref="app.home"><i class="zmdi zmdi-view-dashboard"></i> Painel Principal</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.users.list"><i class="zmdi zmdi-account"></i> Usuários</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.clients.list"><i class="zmdi zmdi-accounts"></i> Clientes</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.orders.list"><i class="zmdi zmdi-shopping-cart"></i> Pedidos</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.referrals.list"><i class="zmdi zmdi-accounts-list"></i> Referências</a>
        </li>
    </ul>
</aside>
