<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController as app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ app.title }}</title>
  <!-- inject:css -->
  <!-- endinject -->
  <base href="/"></base>
</head>
<body class="sw-toggled">
  <page-loader></page-loader>
  <div ui-view="index" class="fade-in"></div>
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
